{{!< default}}


{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main id="site-main" class="site-main outer">
    <h1>{{title}}</h1>
    {{content}}

</main>



{{!-- Floating header which appears on-scroll, included from includes/floating-header.hbs --}}
{{!-- {{> floating-header}} --}}

{{/post}}



{{#contentFor "scripts"}}
<script>

</script>
{{/contentFor}}